:root {
  --shadow: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

@font-face {
	font-family: imported_font;
	src: url(fonts/Roboto-Regular.ttf);
}

body, html {
  background-color: rgb(71, 74, 83);
  color: white;
  font-size: 18px;
  font-family: imported_font, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.button {
  cursor: pointer;
  flex-shrink: 0;
  min-width: 1.5rem;
  text-align: center;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  background-color: rgb(91, 105, 148);
  user-select: none;
  filter: var(--shadow);
}

.button:hover {
  background-color: rgb(73, 86, 126);
}

.button:active {
  background-color: rgb(71, 72, 121);
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}

.task {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.task_check {
  width: 1rem;
  height: 1rem;
  filter: var(--shadow);
}

.task_text {
  min-width: 28rem;
  max-width: 28rem;
  filter: var(--shadow);
}

.task_remove {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task_move {
  cursor: move;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex_row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gap_1 {
  gap: 0.5rem;
}

.gap_2 {
  gap: 1rem;
}

.gap_3 {
  gap: 1.5rem;
}

.gap_4 {
  gap: 2rem;
}

input[type=text] {
  font-family: imported_font, sans-serif;
  font-size: 1rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  outline: none;
  border: none;
  background-color: rgb(111, 111, 138);
  color: white;
}

input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.46;
}

.icon {
  width: 1rem;
  height: 1rem;
  filter: var(--shadow);
}

.hidden {
  display: none;
}

object {
  pointer-events: none;
}